.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.side-navbar {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.side-navbar ul {
  list-style-type: none;
  padding: 0;
}

.side-navbar li {
  margin-bottom: 10px;

}

.side-navbar li a {
  text-decoration: none;
  color: white;
}

.side-navbar li a:hover {
  color: #ffd700;
}

.main-content {
  margin-left: 20px; 
}

.class-info {
  background-color: #f5f5f5; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.class-info h2 {
  margin-bottom: 10px;
}

.class-info p {
  margin-bottom: 5px;
}
