/* Settings.css */

.settings-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .side-navbar {
    margin-bottom: 20px;
  }
  
  button, .delete-task-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover, .delete-task-button:hover {
    background-color: #0056b3;
}

.error-message-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right:20%;

}

.success-message-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 6%;
}
